

@import url(https://fonts.googleapis.com/css?family=Montserrat);


body {
	font-family: 'Montserrat', sans-serif;
}

a {
	color: pink;
}

.container #profile_pic {
	max-height: 50%;
	max-width: 50%;
	border-radius: 20px;
	padding: 1em;
}

i.fa {
	font-size: 3em;
	padding: 0.1em;
}

header {
	padding: 0.5em;
	border-bottom: 2px solid #e3e3e3;
	text-align: center;
}



footer {
	position:fixed;
	bottom:10px;
	border-top:1px solid #e3e3e3;
	width:100%;
	left:0px;
	text-align:center;
	padding:10px;
}
